
<p *ngIf="!postcomments"><em>Loading...</em></p>

<form [formGroup]="commentForm">

  <h6>Add a Comment</h6>
  <div class="form-group">
    <textarea rows="3" style="width:100%;" class="form-control"
              formControlName="comments" [ngClass]="{ 'is-invalid': submitted && f.comments.errors }"></textarea>

    <div *ngIf="submitted && f.comments.errors" class="invalid-feedback">
      <div *ngIf="f.comments.errors.required">Comment is required</div>
      <div *ngIf="f.comments.errors.maxlength">Comments cannot be more than 500 characters in length</div>
    </div>
  </div>
  <div class="form-group">

    <button *ngIf="displayName == ''" class="btn btn-default btn-sm" [disabled]="true">
      login to add comment
    </button>

    <button *ngIf="displayName != ''" class="btn btn-primary" [disabled]="waiting == true"
            (click)="postbuttonClick()">
      <span> {{ !waiting ? 'Add Comment' : 'Working...' }}</span>
    </button>
  </div>

  <div class="form-group">
    <span class="success-text" *ngIf="result.resultCode == '1'">Comment added successfully.</span>
    <span class="error-text" *ngIf="result.resultCode == '0'">An error occured. Could not add comments.</span>
    <span class="error-text" *ngIf="result.resultCode == '999'">Your must be logged in to add a comment.</span>
  </div>

  <div class="form-group">
    &nbsp;
  </div>
  <h6 *ngIf="postcomments && postcomments.length > 0">Existing Comments</h6>
  <table class='table' *ngIf="postcomments"  style="border-top: hidden;">
    <tbody>
      <tr *ngFor="let p of postcomments"  style="border-top: hidden;">
        <td class="post-comment-bg">
          <div class="form-group">
            <span style="font-size:13px;">
              commented by <a [routerLink]='["/userpost",p.createdUserIdentifier]'>
                {{p.createdByUser}}
              </a>&nbsp;on {{ p.createdOn}}
            </span>
          </div>
          <div class="form-group" style="font-size:13px;">

            <span class="word-wrap-custom">
              {{ p.comment}}
            </span>

            
          </div>

        </td>
      </tr>
      <tr>
        <td>
          <button class="btn btn-info" [disabled]="waiting == true"
                  *ngIf="totalRecords != rowCount" (click)="loadMoreData()">
            <span> {{ !waiting ? 'load more comments' : 'Working...' }}</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</form>

