<div class="card "> 
  <div class="card-body">
    <div class="form-group" *ngIf="result.resultCode != '1'">
      <button class="btn btn-danger" [disabled]="waiting == true"
              (click)="deletebuttonClick()">
        <span> {{ !waiting ? 'If you are sure, click here to delete the Post below' : 'Working...' }}</span>
      </button>
    </div>


    <div class="form-group" *ngIf="result.resultCode != '1'">
      {{postContent}}
    </div>

    <div class="form-group">
      <span class="success-text" *ngIf="result.resultCode == '1'">Your post was deleted successfully.</span>
      <span class="error-text" *ngIf="result.resultCode == '999'">Your must be logged in to delete a post.</span>
      <span class="error-text" *ngIf="result.resultCode == '0'">An error occured. Could not delete the post.</span>
    </div>

  </div>

</div>
