<form [formGroup]="addPostForm">

  <div class="card "> 
    <div class="card-body">

      <div class="form-group">
        <textarea rows="5" style="width:100%;" class="form-control" placeholder="Share your thoughts..."
                  formControlName="comments" [ngClass]="{ 'is-invalid': submitted && f.comments.errors }"></textarea>

        <div *ngIf="submitted && f.comments.errors" class="invalid-feedback">
          <div *ngIf="f.comments.errors.required">Post Content is required</div>
          <div *ngIf="f.comments.errors.minlength">Post Content must be of minimum 100 characters in length</div>
        </div>


      </div>


      <div class="form-group">
        <button *ngIf="displayName == ''" class="btn btn-default btn-sm" [disabled]="true">
          login to post
        </button>

        <button *ngIf="displayName != ''" class="btn btn-primary" [disabled]="waiting == true"
                (click)="postbuttonClick()">
          <span> {{ !waiting ? 'Submit' : 'Working...' }}</span>
        </button>
      </div>

      <div class="form-group">
        <span class="success-text" *ngIf="result.resultCode == '1'">Your post was added successfully.</span>
        <span class="error-text" *ngIf="result.resultCode == '999'">Your must be logged in to submit a post.</span>
        <span class="error-text" *ngIf="result.resultCode == '0'">An error occured. Could not submit the post.</span>
      </div>

    </div>
  </div>

</form>
