<div class="card ">
  <div class="card-header">
    <h3>Terms and Conditions</h3>
  </div>
  <div class="card-body">
    <div class="form-group">

      <b>Privacy</b><br />
      Any information provided on www.gamcarepost.com website will never be distributed to a third party.
      <br /><br />

      <b>Use of the Site</b><br />
      www.gamcarepost.com acts like a blog and a public forum, and is equipped with commenting facilities. While we invite you to share your opinions and questions in this way,
      they must not be used to distribute spam messages, post commercial advertisements, or spread links to malicious or dangerous websites.
      We do retain the right to moderate any comment or written content submitted to this website and to remove any content we deem to have violated our policies.

      <br /><br />
      <b>Disclaimer</b><br />
      All of the content contained on  www.gamcarepost.com can be edited, checked, and verified by the website's administrator for accuracy as much as it is possible to do so.
      However, we cannot guarantee either its accuracy or the safety of any external links it might contain.
      www.gamcarepost.com, as well as its owners, affiliates, and contributing authors can therefore not be held responsible for any problems or damage that occurs as a result of
      making use of material contained on our site.
      <br /><br />

      <b>Copyright</b><br />
      Any and all of the content presented on  www.gamcarepost.com is, unless explicitly stated otherwise, subject to a copyright held by  www.gamcarepost.com.
      It is permissible to link to content from this site as long as the original source is clearly stated, but the wholesale reproduction or partial modification of
      content is not permitted. Exceptions are granted only if you receive prior written consent from  www.gamcarepost.com.

      <br /><br />
      <b>Contacts</b><br />
      Should you have any further questions, concerns, or queries about these Terms and Conditions, or if you encounter difficulties while navigating and using the site, please contact <b>info@gamcarepost.com</b>

    </div>
    <div class="form-group">
      &nbsp;
    </div>

  </div>
</div>

