<div class="card ">
  <div class="card-header">
    <h3>Contact Us</h3>
    <hr />
  </div>
  <div class="card-body">
    <div class="form-group">
      For any questions, feedback or suggestions please email us on <b>info@gamcarepost.com</b>
    </div>
    <div class="form-group">
      &nbsp;
    </div>
    
  </div>
</div>

