

<p *ngIf="!posts"><em>Loading...</em></p>
<app-addpost></app-addpost>
<table class='table' *ngIf="posts" style="border-top: hidden;">

  <tbody>
    <tr *ngFor="let p of posts" style="border-top: hidden;">
      <td>
        <div class="card "> 
          <div class="card-body">
            <div class="form-group">
              <span style="font-size:13px;">Posted by <a [routerLink]='["/userpost",p.createdUserIdentifier]'>{{p.createdByUser}}</a>
              &nbsp;<app-followcount userIdentifier="{{p.createdUserIdentifier}}"></app-followcount>&nbsp;on {{ p.createdOn}}</span>
            </div>
            <div class="form-group">
              <span class="word-wrap-custom">
                {{ p.postContent}}
              </span>
              
            </div>
            <div class="form-group">
              <div *ngIf="loggedInUserIdentifier != p.createdUserIdentifier">
                <app-followuser createdUserIdentifier="{{p.createdUserIdentifier}}"></app-followuser>
              </div>
              <a *ngIf="loggedInUserIdentifier == p.createdUserIdentifier"  class="btn btn-default btn-sm"
                 [routerLink]='["/editpost",p.postIdentifier]'>Edit Post</a>
              &nbsp;
              <a *ngIf="loggedInUserIdentifier == p.createdUserIdentifier"  class="btn btn-danger btn-sm"
                 [routerLink]='["/deletepost",p.postIdentifier]'>Delete Post</a>
            </div>
            <div class="form-group">
              &nbsp;
            </div>
            <div class="form-group">
              <app-post-comment postidentifier="{{p.postIdentifier}}"></app-post-comment>
            </div>
          </div>
        </div>           
      </td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-primary" [disabled]="waiting == true"
                *ngIf="totalRecords != rowCount" (click)="loadMoreData()">
          <span> {{ !waiting ? 'load more' : 'Working...' }}</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
