<div class="card "> 
  <div class="card-body">


    <div class="form-group">
      <span style="font-size:13px;">
        Posted by: <a [routerLink]='["/userpost",createdUserIdentifier]'>{{createdByUser}}</a>
        &nbsp;<app-followcount userIdentifier="{{createdUserIdentifier}}"></app-followcount>&nbsp;on {{createdOn}}
      </span>
    </div>

    <div class="form-group">
      {{postContent}}
    </div>
    <div class="form-group">
      <div *ngIf="loggedInUserIdentifier != createdUserIdentifier">
        <app-followuser createdUserIdentifier="{{createdUserIdentifier}}"></app-followuser>
      </div>
    </div>
    <div class="form-group">
      &nbsp;
    </div>

    <div class="form-group">
      <app-post-comment></app-post-comment>
    </div>

  </div>
</div>

