/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color:white;
}

html {
 
}
@media (min-width: 768px) {
  html {
 
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
*/
.navbar-custom {
  background-color: #0D4F7A;
}

