<header>

   
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light  nav-bottom-border box-shadow mb-3 navbar-custom'>
    <div class="container">
      <a class="navbar-brand logo-text" [routerLink]='["/"]' style="text-transform:uppercase;">&nbsp;Gamcare Post</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target=".navbar-collapse" aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">

          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }' (click)="toggle()">
            <a class="nav-link" [routerLink]='["/"]' style="color:white;font-weight:bold;text-transform:none;">Home</a>
          </li>

          <li class="nav-item" [routerLinkActive]='["link-active"]' (click)="toggle()">
            <a class="nav-link" [routerLink]='["/contact"]' style="color:white;font-weight:bold;text-transform:none;">Contact</a>
          </li>

          <li class="nav-item" [routerLinkActive]='["link-active"]' (click)="toggle()">
            <a class="nav-link" [routerLink]='["/postlist"]' style="color:white;font-weight:bold;text-transform:none;">Posts followed by you</a>
          </li>

          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="displayName != ''" (click)="toggle()">
            <a class="nav-link" [routerLink]='["/mypost"]' style="color: white;font-weight:bold;text-transform:none;">My Posts</a>
          </li>

          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="displayName != ''" (click)="toggle()">
            <a class="nav-link" href="javascript:void(0);" style="color:yellow;font-weight:bold;text-transform:none;">Welcome {{displayName}}</a>
          </li>

          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="displayName != ''" (click)="toggle()" style="padding-top:7px;">
            <a class="btn btn-danger my-2 my-sm-0 btn-sm" [routerLink]='["/logoff"]' style="color:white;text-transform:none;">Logout</a>
          </li>

          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="displayName == ''" (click)="toggle()" style="padding-top:7px;">
            <a class="btn btn-danger my-2 my-sm-0 btn-sm" [routerLink]='["/login"]' style="color:white;width:100px;">Login</a>
            <a class="btn btn-success my-2 my-sm-0 btn-sm" style="color:white;width:100px;" [routerLink]='["/register"]'>Register</a>
          </li>
           

        </ul>
      </div>
    </div>
  </nav>

</header>
