

 
.error-text{
  color:red;
}

.success-text {
  color: green;
}

.post-comment-bg {
  background-color: #ECECEA;
}

.nav-bottom-border {
  border-bottom: 0px solid black;
}


.word-wrap-custom {
  /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.logo-text
{
    font-weight:bold;
}

.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
}
