<div class="card ">
  <div class="card-body">

    <h3>Search User Posts</h3>
    <p *ngIf="!posts"><em>Loading...</em></p>
    <table class='table' *ngIf="posts">
      <tbody>
        <tr *ngFor="let p of posts">
          <td>
            <div class="form-group">
              <span style="font-size:13px;">
                Posted by&nbsp;{{p.createdByUser}}
                &nbsp;<app-followcount userIdentifier="{{p.createdUserIdentifier}}"></app-followcount>
                &nbsp;on {{ p.createdOn}}
              </span>
            </div>
            <div class="form-group">
              <a  [routerLink]='["/viewpost",p.postIdentifier]' style="text-decoration:underline;color:darkgreen;">
                {{p.postContent.substring(0,100)}}
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-primary" [disabled]="waiting == true"
                    *ngIf="totalRecords != rowCount" (click)="loadMoreData()">
              <span> {{ !waiting ? 'load more' : 'Working...' }}</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
</div>
