<h3>Recent Posts</h3> 
<p *ngIf="!posts"><em>Loading...</em></p>
<table class='table' *ngIf="posts">
  <tbody>
    <tr *ngFor="let p of posts">
      <td>
        <div class="form-group">
          <span style="font-size:13px;">
            Posted by <a [routerLink]='["/userpost",p.createdUserIdentifier]'>{{p.createdByUser}}</a>
            &nbsp;<app-followcount userIdentifier="{{p.createdUserIdentifier}}"></app-followcount>&nbsp;on {{ p.createdOn}}
          </span>
        </div>
        <div class="form-group">
          <a  [routerLink]='["/viewpost",p.postIdentifier]' style="text-decoration:underline;" class="word-wrap-custom">
            {{p.postContent.substring(0,170)}}
          </a>
        </div>
      </td>
    </tr> 
  </tbody>
</table>

