<div class="card "> 
  <div class="card-body">
    <h3>Sign In</h3>

    <div class="col-sm-12">
      <form [formGroup]="loginForm">  
        <div class="form-group">
          <div class="col-sm-12">
            <div class="form-group">
              <input type="text" class="form-control input-lg" placeholder="enter your username"
                     formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />

              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
              </div>

            </div>
          </div>

        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <div class="form-group">
              <input type="password" class="form-control input-lg" placeholder="enter your password"
                     formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />

              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>

            </div>
          </div>

        </div> 
         
        <div class="form-group">
          <div class="col-sm-12">
            <button class="btn btn-primary" [disabled]="waiting == true"
                    (click)="loginClick()">
              <span> {{ !waiting ? 'Login' : 'Working...' }}</span>
            </button>
          </div>
 
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <span class="error-text" *ngIf="result.resultCode == '0'">Invalid username or password.</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <a  [routerLink]='["/forgotpassword"]'>Forgot your Password?</a>
          </div>
        </div>

      </form>
    </div>

  </div>
</div>


