 

  <body>
    <app-nav-menu></app-nav-menu>
    <div class="container">
      <scroll-top></scroll-top>
      <div class="row">
        <div class="col-sm-7">
          <router-outlet (activate)="onActivate($event)"></router-outlet>
        </div>
        <div class="col-sm-5">
          <div class="card">
            <div class="card-body">
              <app-sidebar></app-sidebar>
            </div>
          </div>
          <div class="card ">
            <div class="card-body">
              <app-following></app-following>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <app-followed></app-followed>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Copyright -->
        <div class="footer">
          &nbsp;Copyright © 2019  - www.gamcarepost.com All rights reserved.&nbsp;<a [routerLink]='["/terms"]' style="text-decoration:underline;">Terms and Conditions</a>
        </div>
        <!-- Copyright -->
      </div>
    </div>
    <scroll-top></scroll-top>
  </body>
