
<div *ngIf="displayName == ''">

  <button class="btn btn-default btn-sm" [disabled]="true">
    login to follow user
  </button> 

</div>


<div *ngIf="displayName != ''">

  <button *ngIf="!isFollowed" class="btn btn-success btn-sm" [disabled]="waiting == true"
          (click)="followClick()">
    <span> {{ !waiting ? 'Follow User' : 'Working...' }}</span>
  </button>

  <button *ngIf="isFollowed" class="btn btn-danger btn-sm" [disabled]="waiting == true"
          (click)="followClick()">
    <span> {{ !waiting ? 'Un-Follow User' : 'Working...' }}</span>
  </button>

</div>
