<!--Scroll to top-->
<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <button (click)="scrollToTop()" class="btn btn-danger">
    
    <fa-icon [icon]="faChevronUp"></fa-icon>

  </button>
</div>
