<div class="card "> 
  <div class="card-body">
    <h3>Register</h3>

    <div class="col-sm-12">
      <form [formGroup]="registerForm">
        <hr class="colorgraph">
        <div class="form-group">
          <div class="col-sm-12">
            <div class="form-group">
              <input type="text" class="form-control input-lg" placeholder="Username"
                     formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />

              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
                <div *ngIf="f.username.errors.minlength">Username must be of minimum 4 characters in length</div>
              </div>

            </div>
          </div>

        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <div class="form-group">
              <input type="password" class="form-control input-lg" placeholder="Password"
                     formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />

              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be of minimum 6 characters in length</div>
              </div>

            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <input type="password" class="form-control input-lg" placeholder="Confirm Password"
                     formControlName="confirmpassword" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }" />

              <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmpassword.errors.minlength">Confirm Password must be of minimum 6 characters in length</div>

                <div *ngIf="!f.confirmpassword.errors.minlength && !f.confirmpassword.errors.required">
                  Password and Confirm Password do not match
                </div>

              </div>

            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <input type="checkbox" formControlName="checkboxTerms" />
              By clicking <strong class="label label-primary">Register</strong>, you agree to the
                    <a [routerLink]='["/terms"]' style="text-decoration:underline;">Terms and Conditions</a> set out by this site.

          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <button class="btn btn-primary" [disabled]="waiting == true"
                    (click)="registerClick()">
              <span> {{ !waiting ? 'Register' : 'Working...' }}</span>
            </button>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <span class="error-text" *ngIf="!termsAgreed">
              You must agree with the Terms and Conditions
            </span>

            <span class="error-text" *ngIf="result.resultCode == '-1'">Username already exists.</span>
            <span class="error-text" *ngIf="result.resultCode == '0'">An error occured. Could not create user.</span>
            <span class="success-text" *ngIf="result.resultCode == '1'">
              Your account has been registered successfully. Please note down the key below. You will need this for any
              support related issues like password reset.<br /><br />
              <b>{{result.returnData}}</b>

              <br />
              <a (click)="copyToClipboard(result.returnData)" href="javascript:void(0);" style="border-bottom: 1px dotted;">
                click here to copy
              </a>

            </span>
 

          </div>
        </div>

      </form>
    </div>

  </div>
</div>

