<h4>People following you&nbsp;({{rowCount}})</h4>
<p *ngIf="!followers"><em>Loading...</em></p>
<table class='table' *ngIf="followers">
  <tbody>
    <tr *ngFor="let p of followers">
      <td>
        <div class="form-group">
          <span>
            <a [routerLink]='["/userpost",p.userIdentifier]'>{{p.username}}</a>
            <br />
            <span style="font-size:13px;">(following since: {{ p.followingSince}})</span>
          </span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-primary" [disabled]="waiting == true"
                *ngIf="totalRecords != rowCount" (click)="loadMoreData()">
          <span> {{ !waiting ? 'load more' : 'Working...' }}</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
