<div class="card "> 
  <div class="card-body">
    <h3>Reset Password</h3>

    <div class="col-sm-12">
      <form [formGroup]="forgotPasswordForm">
    

        <div class="form-group">
          <div class="col-sm-12">
            <div class="form-group">
              <input type="text" class="form-control input-lg" placeholder="Username"
                     formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />

              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
              </div>

            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <div class="form-group">
              <input type="text" class="form-control input-lg" placeholder="Security Key"
                     formControlName="securitykey" [ngClass]="{ 'is-invalid': submitted && f.securitykey.errors }" />

              <div *ngIf="submitted && f.securitykey.errors" class="invalid-feedback">
                <div *ngIf="f.securitykey.errors.required">Security Key is required</div>
              </div>

            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <div class="form-group">
              <input type="password" class="form-control input-lg" placeholder="Password"
                     formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />

              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be of minimum 6 characters in length</div>
              </div>

            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <input type="password" class="form-control input-lg" placeholder="Confirm Password"
                     formControlName="confirmpassword" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }" />

              <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmpassword.errors.minlength">Confirm Password must be of minimum 6 characters in length</div>

                <div *ngIf="!f.confirmpassword.errors.minlength && !f.confirmpassword.errors.required">
                  Password and Confirm Password do not match
                </div>

              </div>

            </div>
          </div>
        </div>

         
        <div class="form-group">
          <div class="col-sm-12">
            <button class="btn btn-primary" [disabled]="waiting == true"
                    (click)="forgotClick()">
              <span> {{ !waiting ? 'Reset Password' : 'Working...' }}</span>
            </button>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <span class="error-text" *ngIf="result.resultCode == '-1'">Username or Security Key do not match.</span>
            <span class="error-text" *ngIf="result.resultCode == '0'">An error occured. Could not reset password.</span>
            <span class="success-text" *ngIf="result.resultCode == '1'">Your password has been reset successfully.</span>

          </div>
        </div>

      </form>
    </div>

  </div>
</div>


