<div class="card "> 
  <div class="card-body">
    <h3>Edit Post</h3>
    <form [formGroup]="editPostForm">

      <div class="form-group">
        <textarea rows="20" style="width:100%;" class="form-control"
                  formControlName="comments" [ngClass]="{ 'is-invalid': submitted && f.comments.errors }"></textarea>

        <div *ngIf="submitted && f.comments.errors" class="invalid-feedback">
          <div *ngIf="f.comments.errors.required">Post Content is required</div>
          <div *ngIf="f.comments.errors.minlength">Post Content must be of minimum 100 characters in length</div>
        </div>


      </div>


      <div class="form-group">
        <button class="btn btn-primary" [disabled]="waiting == true"
                (click)="postbuttonClick()">
          <span> {{ !waiting ? 'Submit' : 'Working...' }}</span>
        </button>
      </div>

      <div class="form-group">
        <span class="success-text" *ngIf="result.resultCode == '1'">Your post was updated successfully.</span>
        <span class="error-text" *ngIf="result.resultCode == '0'">An error occured. Could not update post.</span>
        <span class="error-text" *ngIf="result.resultCode == '999'">Your must be logged in to edit a post.</span>
      </div>

    </form>

  </div>
</div>

